body {
  padding: 10pt 50pt 10pt 50pt;
}

h1 {
    font-family: arial;
    background: blue;
}

div {
    margin-top: 5pt;
    margin-bottom: 5pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    font-size: 10pt;
    border: 1pt solid black;
    background: white;
}

div + div {
    margin-top: 10mm;
}

div h3 {
  text-align: center;
#  font-family: sans-serif, helvetica, ariel;
  font-size: 14pt;
  background: white;
  margin: 2pt;
}

div table {
  background: white;
  width: 100%;
  border-collapse: collapse;
}

div table td {
}

p {
  background: yellow;
  font-size: 10pt;
}

br {
  display: block;
  margin: 10pt;
}
